*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    /* here is my logo design */
    
    .logo img{
    
    width: 100px;
    margin-top: 20px;
    margin-left: 65px;
    border-radius: 50%;
    
    }
    
    .logo{
    
    overflow: hidden;
    
    }
    
    .menue-bar{
    
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(85, 82, 83);
    height: 100vh;
    /* width: 20%; */
    width: 70px;
    padding: 0 20px;
    transition:all 0.5s;
    
    }
    
    .menue-bar:hover{
    
    width: 20%;
    transition: 0.8s;
    
    }
    
    
    body{
    display: flex;
    
    
    }
    
    ul li{
    
    padding: 18px;
    margin: 8px 0 ;
    
    }
    
    ul li a{
    
    color:white;
    
    }
    
    ul a{
    
    display: flex;
    gap: 10px;
    
    }
    
    ul i{
    
    font-size: 25px;
    
    }
    
    .signout{
    
    margin-top: 50px;
    background-color: red;
    border-radius: 10px;
    
    
    }
    
    ul{
    
    height: 80vh;
    position: relative;
    width: 85%;
    
    }
    
    ul li:hover{
    background-color: blueviolet;
    border-radius: 10px;
    
    }
    
    ul a span{
    
    overflow: hidden;
    
    }
    
    .content-main{
    
    background-image: url(../skylineict-cohort31/img/abstract-3291293_1280.jpg) ;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
    /* hearder style starts here */
    
    /* .content h1{ */
    /*  */
    /* margin-top: 150px; */
    /* font-size: 25px; */
    /* background-color:gray; */
    /* width: 60%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* color: white; */
    /* padding: 30px; */
    /*  */
    /* } */
    /*  */
    
    
    .profile-img img{
    
    width: 45px;
    border-radius: 50%;
    
    }
    
    .header-main{
    
    display: flex;
    justify-content: space-between;
    background-color: maroon;
    padding: 5px 20px;
    border-radius: 10px;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px red;
    background-color: transparent;
    
    }
    
    header title is here
    
    .header-title h1{
    color: white;
    font-size: 20px;
    
    }
    
    .header-title span{
    
    color: black;
    font-size: 15px;
    letter-spacing: 4px;
    padding-bottom:10px ;
    display: block;
    
    }
    
    .profile-info{
    
        display: flex;
        align-items: center;
        gap: 100px;
    
    
    }
    
    .searchbox input{
    
    padding: 8px;
    background: transparent;
    outline: none;
    border: 1px solid hotpink;
    border-radius: 10px;
    
    }
    
    
    .searchbox button{
    
    padding: 7px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid hotpink;
    
    }
    
    .searchbox button:hover{
    transform: scale(1.1);
    
        }
        
    
    .searchbox{
    
    position: relative;
    
    }
    
    .card-container{
    
    background-color: lightcyan;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 10px;
    height: 200px;
    
    }
    
    .card-container h1{
    
        color: rgb(80, 20, 40);
        font-size: 20px;
        padding: 10px;
    
    }
    
    .card-flex{
    
    display: flex;
    gap: 3rem;
    
    }
    
    .card-student{
    
    background-color: rgba(129, 123, 123, 0.959);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 23.5%;
    height: 120px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 1px violet;
    cursor: pointer;
    
    }
    
    .card-student:hover{
    
    transform: translate(-5px);
    
    }
    
    .card-hearder{
    
    display: flex;
    justify-content: space-between;
    
    }
    
    .passcode-info{
    
    display: flex;
    flex-direction: column;
    
    }
    
    .icon{
    
    font-size: 20px;
    background-color:gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
        
    }
    
    .green{
    
    background-color: rgb(52, 37, 66);
    
    }
    
    .pink{
    background-color: rgb(28, 56, 28);
    
    }
    
    
    .card-student {
    
    display: flex;
    flex-direction: column;
    
    } 
    
    .orange{
    
    background-color: rgb(65, 43, 3);
    
    }
    
    .card-flex >.card-student:nth-child(1){
    
    background-color: rgb(131, 114, 119);
    
    }
    
    .card-flex >.card-student:nth-child(2){
    
        background-color: rgb(173, 190, 143);
        
        }
    
        .card-flex >.card-student:nth-child(3){
    
            background-color: rgb(150, 106, 80);
            
            }
    
            .card-flex >.card-student:nth-child(4){
    
                background-color: rgb(69, 105, 100);
                
                }
    
    /* my assignment container starts here */
    
    
    
    .assignment-con{
    
        background-color: lightcyan;
        margin-top: 10px;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 20px;
        border-radius: 10px;
        
    
    }
    
    .assignment-con h1{
    
    font-size: 18px;
    padding-bottom: 1rem;
    
    
    }
    
    
    .top-img img{
    
    width: 50px;
    border-radius: 50%;
    
    }
    
    .assign-flex{
    
    display: flex;
    
    }
    
    .assign-subject{
    
    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 darkred;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-left: 3px solid grey;
    
    }
    
    
    .courses h3{
    
    font-size: 15px;
    padding-bottom: 5px;
    color: #000;
    font-weight: bolder;
    
    }
    
    
    .top-performer{
    
    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 darkred;
    border-radius: 10px;
    border-right: 3px solid;
    
    }
    
    .topic{
    
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    
    }
    
    .btn-btn{
    
    background-color: rgb(180, 240, 222);
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    
    }
    