

.assign {

    text-align: center;
    background: white;
    padding-bottom: 3%;
    margin-top: 10%;       
    margin-left: 30%;
    margin-right: 30%;
    border: bottom 5px; ;
    border: left 5px;
    border-right: 5px;
    border-color: brown;
    

}



.assign p {

   font-size: 30px; 
   color: blue;
   

}


.assign button{
    
    background: blue; 
    border-radius: 5px;    
    padding: 5px 5px;
    color: beige;
    font-size: 15px;
}

